.images{
    margin-top: 15px;
    margin-left: auto;
     /*border-radius: 15px;*/
    /*box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);*/
        display: block;
        margin-right: auto;
        width: 50%;
        background-color: whitesmoke;
}
.post{
 width: 400px;
 display: flex;
 position: relative;

 /*padding: 15px;*/
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)

}

.date{
    font-size: medium;
}

.like{
    font-size: medium;
    position: right;
}
.btn1{
margin-right: 16px;
}
.btn2{
margin-right: 16px;
}